/* Hide browser-generated password reveal buttons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
